* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh; /* Zapewnia, że strona zajmie całą wysokość widoku */
}

div {
  display: block;
  max-width: 100%;
}
